=begin
#ChannelEngine Channel API

#ChannelEngine API for channels

The version of the OpenAPI document: 2.9.10

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.1

=end

require 'cgi'

module ChannelEngineChannelApiClient
  class ReturnApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Return.
    # Mark (part of) an order as returned by the customer.
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelReturnRequest] :channel_return_request 
    # @return [ApiResponse]
    def return_declare_for_channel(opts = {})
      data, _status_code, _headers = return_declare_for_channel_with_http_info(opts)
      data
    end

    # Create Return.
    # Mark (part of) an order as returned by the customer.
    # @param [Hash] opts the optional parameters
    # @option opts [ChannelReturnRequest] :channel_return_request 
    # @return [Array<(ApiResponse, Integer, Hash)>] ApiResponse data, response status code and response headers
    def return_declare_for_channel_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnApi.return_declare_for_channel ...'
      end
      # resource path
      local_var_path = '/v2/returns/channel'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'application/*+json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'channel_return_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"ReturnApi.return_declare_for_channel",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnApi#return_declare_for_channel\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Returns.
    # Get all returns created by the merchant. This call is supposed<br />to be used by channels. Merchants should use the 'GET /v2/returns/merchant'<br />call.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<ReturnStatus>] :statuses Return status(es) to filter on.
    # @option opts [Array<ReturnReason>] :reasons Return reason(s) to filter on.
    # @option opts [Time] :from_date Filter on the creation date, starting from this date. This date is inclusive.
    # @option opts [Time] :to_date Filter on the creation date, until this date. This date is exclusive.
    # @option opts [Integer] :page The page to filter on. Starts at 1.
    # @return [CollectionOfChannelReturnResponse]
    def return_get_declared_by_merchant(opts = {})
      data, _status_code, _headers = return_get_declared_by_merchant_with_http_info(opts)
      data
    end

    # Get Returns.
    # Get all returns created by the merchant. This call is supposed&lt;br /&gt;to be used by channels. Merchants should use the &#39;GET /v2/returns/merchant&#39;&lt;br /&gt;call.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<ReturnStatus>] :statuses Return status(es) to filter on.
    # @option opts [Array<ReturnReason>] :reasons Return reason(s) to filter on.
    # @option opts [Time] :from_date Filter on the creation date, starting from this date. This date is inclusive.
    # @option opts [Time] :to_date Filter on the creation date, until this date. This date is exclusive.
    # @option opts [Integer] :page The page to filter on. Starts at 1.
    # @return [Array<(CollectionOfChannelReturnResponse, Integer, Hash)>] CollectionOfChannelReturnResponse data, response status code and response headers
    def return_get_declared_by_merchant_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReturnApi.return_get_declared_by_merchant ...'
      end
      # resource path
      local_var_path = '/v2/returns/channel'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'statuses'] = @api_client.build_collection_param(opts[:'statuses'], :multi) if !opts[:'statuses'].nil?
      query_params[:'reasons'] = @api_client.build_collection_param(opts[:'reasons'], :multi) if !opts[:'reasons'].nil?
      query_params[:'fromDate'] = opts[:'from_date'] if !opts[:'from_date'].nil?
      query_params[:'toDate'] = opts[:'to_date'] if !opts[:'to_date'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CollectionOfChannelReturnResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['apiKey']

      new_options = opts.merge(
        :operation => :"ReturnApi.return_get_declared_by_merchant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReturnApi#return_get_declared_by_merchant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
